.section-about-container {
    background-color: var(--dark-principal);
    padding: 40px;
    line-height: 1.6;
}

.section-about {
    background-color: var(--dark-principal);
    color: #eedbe8;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-titre {
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px 40px;
    color: var(--mountbatten-pink);
}

.about-language-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    background-color: var(--dark-principal);
}

.about-language-container .about-sous-titre {
    color: var(--gris);
    text-align: left;
    font-size: 0.75em;
}

.about-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.about-card {
    width: 100%;
    max-width: 150px;
    min-width: 150;
    height: 100px;
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--dark-principal);
}

.about-card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
}

@media screen and (max-width:750px) {
    .about-card {
        max-width: 100px;
        min-width: 100px;
        height: 90px;
    }
}

@media screen and (max-width:550px) {
    .about-titre {
        font-size: 1.25em;
    }

    .about-language-container {
        justify-content: center;
        align-items: center;
    }
}