header {
    background-color: var(--dark-principal);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
}

header .logo-container {
    margin-left: 0;
    color: var(--logo);
    padding:0 30px;
    height: 110px;
    position: relative;

}


header div {
    margin-left: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.25em;
    flex-wrap: wrap;
    line-height: 1.6;
}

nav ul li a{
    padding: 30px;
    color: var(--mountbatten-pink);
    cursor: pointer;
    text-decoration: none;
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration-color: var(--logo);
}

.logo-container {
    font-family: 'Grechen Fuemen', cursive;
    color: var(--prim2);
    font-size: 1.4em;
}

.logo-container h1 {
    padding-left: 30px;
}

