:root {

    /* CSS HEX */
    /* --gunmetal: #212b38;
--charcoal: #37465b;
--teal: #08c6ab;
--light-teal: #54ffe7;
--purple: #726eff; */



    /* --charcoal: #37465bff;
--sky-magenta: #b27092ff;
--white: #ffffffff;
--field-drab: #73683bff; */
    /* --gunmetal: #212b38ff; */


    /* --gray:#1E1D1D; */
    --gray: #0a0912f7;
    /* --yellow:#d6af3bd9;
--pink:#A54954;
--green:#A5D8A1;
--white:#F8F5E0;

--sky-magenta:#b27092ff; */

    /* --mid-dark-bleu: #004346;
    --dark-bleu: #172a3a;
    --mid-pale-bleu: #7fd0db; */
    /* --mid-pale-bleu: #508991; */
    /* --powder-bleu: #74b3ce; */

    /*palette 2 dark-mode*/
    /* --dark-background: #1e1d1d; */


    --raisin-black: #1b1926ff;
    --charcoal: #335167ff;

--test-logo:#5699a1;
    --mountbatten-pink: #9e718eff;
    --eerie-black: #1a1f26;
    --dark-principal: #242939;

    --gris: #eedbe8;
    /* --gris:#c6bbcc; */
    /* --mauve:#A7A7E0; */


    /* --purple: #726eff;
    --green:#A5D8A1; */
    /* essaie des font fam  */
    --font-Orbitron: 'Orbitron', sans-serif;
    --font-Paytone: 'Paytone One', sans-serif;



    --prim1: #f54b64;
    --prim2: #ff9e81;

    --gray: #4e586e
}

@import './page.css';

* {
    padding: 0;
    margin: 0;
}

body {
    /* height: 100vh; */

    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: var(--font-Orbitron); */
    /* background: linear-gradient(0deg, transparent, #000000 75%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* max-width: 1000px;*/
    background-color: var(--eerie-black);
    font-family: 'Montserrat', sans-serif;
    ;

}

/* body div:first-child{
    width: 100%;
} */

/* .right-container {
    display: flex;
   flex-direction: column;
    height: 86vh;
    justify-items: center;

    background-color: var(--dark-principal);
} */

/* .right-container img{
    width: 150px;
    background-color: transparent;
} */

/* .right-container img:hover{
    width: 150px;
    background-color: transparent;
} */

/* Styles pour le bas-container (ajustez selon vos besoins) */
/* .right-container .bottom-container {
    display: flex;
    
    flex-direction: column;
    color: white;
    text-align: center;


} */

/* display on big screen */
@media (min-width: 680px) {


    .dropdown {
        display: none;
    }

    .icon-menu {
        /* display: inline-block; */
    }

    .header ul.icon-menu li.icon-box {
        width: 70px;
        height: 70px;
        list-style: none;
        /* position: relative; */
        display: flex;
        align-items: center;
        transition: ease-out .3s;
        transition-timing-function: linear;
        /* margin: 20px 0; */
        border-radius: 50%;
        background-color: var(--yellow);
    }

    .header ul {
        list-style: none;
    }

    .header .icon-menu i {
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        text-align: center;
        top: 0cm 15px;

    }

    .header .icon-menu i.fa {
        position: absolute;
        pointer-events: none;
    }

    .header .icon-box {
        /* margin-bottom: 1rem; */
    }

    .header .icon-box a {
        display: block;
        /* padding: 0; */

        height: 50px;

        background-color: transparent;
    }

    .header .icon-box h2 {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        line-height: 50px;
        font-weight: 400;
        transition: all .3s;
        border-radius: 30px;
        text-transform: uppercase;
        /* padding: 0 25px 0 30px; */
        height: 50px;
        font-size: 15px;

    }

    .header .icon-box i.fa {
        pointer-events: none;
    }

    .fa-home {
        content: "\f015";
    }

    .fa-bars {
        color: var(--turquoise);
        /* margin: 2em; */
        /* padding: 2em; */
    }

    /* hover */
    .header .icon-box a:hover h2 {
        opacity: 1;
        right: 27px;
        margin: 0;
        text-align: center;
        border-radius: 30px 0 0 30px;
        display: block;
        /* background-color: var(--prim-cyan); */
    }



}



@media (max-width:700px) {}