:root {
    --test-logo: #72cad6;
    --mountbatten-pink: #9e718eff;
    --eerie-black: #1a1f26;
    --dark-principal: #242939;
    --gris: #eedbe8;
    /* --gris:#c6bbcc; */
    --font-Orbitron: 'Orbitron', sans-serif;
    --font-Paytone: 'Paytone One', sans-serif;
}

@import './page.css';

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--eerie-black);
    font-family: 'Montserrat', sans-serif;
}

