:root {
    --logo: #72cad6;
    --mountbatten-pink: rgb(190, 143, 175);
    --eerie-black: #1a1f26;
    --dark-principal: #242939;
    --gris: #eedbe8;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--eerie-black);
    font-family: 'Montserrat', sans-serif;
}

.bg-dark {
    background-color: var(--dark-principal);
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}